<div class="description" id="consumption_values">
    <ul id="consumption_values_list">
        <li>
            <div>
                <p>Астраханская ЭС</p>
                <input type="number" min="0" max="10000" value="442">
            </div>
        </li>
        <li>
            <div>
                <p>Кольская ЭС</p>
                <input type="number" min="0" max="10000" value="442">
            </div>
        </li>
        <li>
            <div>
                <p>Ленинградская ЭС</p>
                <input type="number" min="0" max="10000" value="442">
            </div>
        </li>
    </ul>
    <button type="submit" class="styled primary" id="consumption_values_apply">Сбросить изменения</button>
</div>