<p>Выбрать файл для расчета из архива</p>
<form id="datetime-container">
    <label for="date-input">Дата:</label>
    <select id="date-input" name="date-input">
        {% for date in date_list %}
            <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
    </select>
    <label for="time-input">Время:</label>
    <input type="time" id="time-input" name="time-input">
    <button type="submit">Confirm</button>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
<p id="datetime-msg"></p>