<div class="description" id="selected_elements">
    <ul id="selected_elements_list">
        <li value_area="pass">
            <span class="element_status">{elem.status} </span>{elem.name}
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>КВЛ Киришская ГРЭС - Восточная 2 цепь с отпайками куда-то макс ...
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>СШ-1 Киришской ГРЭС
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Изм </span>Рн ЭС Архангельской области <i>--- Уберем? В потреблении же?!</i>
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>КВЛ Киришская ГРЭС - Восточная 2 цепь с отпайками куда-то макс ...
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>СШ-1 Киришской ГРЭС
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Изм </span>Рн ЭС Архангельской области <i>--- Уберем? В потреблении же?!</i>
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>КВЛ Киришская ГРЭС - Восточная 2 цепь с отпайками куда-то макс ...
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>СШ-1 Киришской ГРЭС
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Изм </span>Рн ЭС Архангельской области <i>--- Уберем? В потреблении же?!</i>
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>КВЛ Киришская ГРЭС - Восточная 2 цепь с отпайками куда-то макс ...
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>СШ-1 Киришской ГРЭС
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Изм </span>Рн ЭС Архангельской области <i>--- Уберем? В потреблении же?!</i>
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>КВЛ Киришская ГРЭС - Восточная 2 цепь с отпайками куда-то макс ...
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Откл </span>СШ-1 Киришской ГРЭС
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
        <li value_area="pass">
            <span class="element_status">Изм </span>Рн ЭС Архангельской области <i>--- Уберем? В потреблении же?!</i>
            <span class="delete_button">{% include 'includes/svg_buttons/delete.html' %}</span>
        </li>
    </ul>
    <button type="submit" class="styled primary" id="selected_elements_apply">Сбросить изменения</button>
</div>