<div id="scheme_buttons">
    <div class="scheme_buttons_style">
        <div id="to_info" class="svg_button_wrapper">
            {% include 'includes/svg_buttons/info_icon.html' %}
        </div>
        <span class="tooltiptext">Список изменений</span>
    </div>
    <div class="scheme_buttons_style">
        <div id="to_consumption" class="svg_button_wrapper">
            {% include 'includes/svg_buttons/consumption_icon.html' %}
        </div>
        <span class="tooltiptext second">Задать потребление</span>
    </div>
    <div class="scheme_buttons_style">
        <div id="to_home" class="svg_button_wrapper">
            {% include 'includes/svg_buttons/center_icon.html' %}
        </div>
        <span class="tooltiptext third">Центрировать схему</span>
    </div>
</div>