<div id="scheme_buttons">
    <div id="to_info" class="scheme_buttons_style">
        {% include 'includes/svg_buttons/info_icon.html' %}
        <span class="tooltiptext">Список изменений</span>
        {% include 'includes/description.html' %}
    </div>
    <div id="to_consumption" class="scheme_buttons_style">
        {% include 'includes/svg_buttons/consumption_icon.html' %}
        <span class="tooltiptext second">Задать потребление</span>
    </div>
    <div id="to_home" class="scheme_buttons_style">
        {% include 'includes/svg_buttons/center_icon.html' %}
        <span class="tooltiptext third">Центрировать схему</span>
    </div>
</div>