{% extends 'base.html' %}

{% block title %}
    Posts list
{% endblock %}

{% block body %}
{% for i in object_list %}
    <div class="card my-3">
        <div class="card-header {% if i.is_posted != True %}bg-danger{% endif %}">{{i.post_title}}</div>
        <div class="card-body">
            <h5 class="card-title">
                {% if i.is_posted == True %}
                True
                {% else %}
                False
                {% endif %}
            </h5>
            <h4>Current mode - {{ i.equipment_mode }}</h4>
            <a href="{% url 'post-update' i.pk %}" class="btn btn-secondary">update</a>
        </div>
    </div>
{% endfor %}
{% endblock %}