{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>OIK/ZVK integration</title>
		<meta name="description" content="OIK/ZVK integration" />
		<link rel="stylesheet" href="{% static 'zvk/css/comp.css' %}">
		<link rel="stylesheet" href="{% static 'zvk/css/def.css' %}">
		<link rel="stylesheet" href="{% static 'zvk/css/item.css' %}">
		<link rel="stylesheet" href="{% static 'zvk/css/rsp.css' %}">
		<link rel="stylesheet" href="{% static 'boss_says/font-awesome/css/font-awesome.min.css' %}">
		<script src="{% static 'zvk/js/modernizr.custom.js' %}"></script>
	</head>
	<body class="cbp-spmenu-push">
		<nav class="cbp-spmenu cbp-spmenu-vertical-left cbp-spmenu-left" id="cbp-spmenu-s1">
			<div class="rsp_wrapper">
				<h3>Сигналы</h3>
				<button id="open">-></button>
				<div id="rsp_small">
					<p>Text</p>
				</div>
				<div id="rsp_big">
					<div class="single_svodka">
						<a href="{% url 'home' %}">Изменения ТС</a>
						<div class="single_svodka_item">
							<p class="object">ПС 330 кВ Волхов-Северная</p>
							<p class="equipment">В 330 <span class="state">отключен</span></p>
						</div>
						<div class="single_svodka_item active">
							<p class="object">Северо-Западная ТЭЦ</p>
							<p class="equipment">ГТУ-22 <span class="state">включен</span></p>
						</div>
						{{ cal|safe }}
					</div>

					<a href="{% url 'cities' %}">cities</a>
					<a href="{% url 'posts-list' %}">posts-list</a>
				</div>
				
			</div>
		</nav>
		<nav class="cbp-spmenu cbp-spmenu-vertical-right cbp-spmenu-right" id="cbp-spmenu-s2">
			<h3>Заявки на объекте:</h3>
			<div class="item">
				<div class="item_control">
					<form action="">
						<div class="zvk_status">
							<ul>
								<li class="list list_active">
									<input type="checkbox" checked>Открыта
								</li>
								<li class="list list_active">
									<input type="checkbox" checked>Разрешена
								</li>
								<li class="list list_active">
									<input type="checkbox">Рассмотрена
								</li>
								<li class="list">
									<input type="checkbox">Закрыта
								</li>
							</ul>
							<ul>
								<li class="list list_active underline">
									<input type="checkbox" checked>Все виды
								</li>
								<li class="list list_active underline">
									<input type="checkbox" checked>Все сроки
								</li>
								<li class="list list_active underline">
									<input type="checkbox" checked>Все категории
								</li>
								<li class="list">
									№ <input type="number" name="zvk_number" id="zvk_number">
								</li>
							</ul>
						</div>
					<button class="zvk_status_name">Обновить ( )</button>
				</form>
					<div class="item_data">
					{% for i in zvk %}
					<table class="table">
						<thead>
							<tr>
								<th><a href="/">{{ i.number }}</a></th>
								<th>{{ i.category }}</th>
								<th>{{ i.type }}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2" class="unit_name">{{ i.item }}</td>
								<td><i>{{ i.status }}</i></td>
							</tr>
							<tr>
								<td>{{ i.start }}</td>
								<td>{{ i.end }}</td>
								<td>АГ - {{ i.ready }}</td>
							</tr>
						</tbody>
					</table>
					{% endfor %}
					{% comment basic_template %}
					<table class="table">
						<thead>
							<tr>
								<th><a href="/">22945</a></th>
								<th>НО</th>
								<th>АВ</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="2" class="unit_name">Комплект РЗА ВЭ 322 (АУВ, УРОВ, АОПН, УРОВ АОПН)</td>
								<td><i>Разрешена</i></td>
							</tr>
							<tr>
								<td>18:00 23.03.2022</td>
								<td>18:00 28.03.2022</td>
								<td>АГ - 04:00</td>
							</tr>
						</tbody>
					</table>
					{% endcomment %}
					<a href="#">Показать все заявки</a>
				</div>
				</div>
				<div class="item_note">
					<h3>Персонал на смене:</h3>
					<select name="select"> <!--Supplement an id here instead of using 'name'-->
						<option value="value1" selected>...</option>
						<option value="value2">Zatonskiy Dmitriy Urievich</option>
						<option value="value3">Kazanov Uriy Gennadievich</option>
					</select>
					<div class="for_ej">
						<button class="button_upd">Рапорт</button>
						<button class="button_upd">Команда</button>
						<button class="button_upd">Разрешение</button>
						<button class="button_upd">Сообщение</button>
						<button class="button_upd incident">Нарушение нормального режима!</button>
					</div>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="main">
				<section>
					<button id="showLeft">Форма для РСП</button>
					<a href="{% url 'home' %}" class="like_a_button"><i class="fa fa-grav" aria-hidden="true"></i></a>
					<button id="showRight">Форма отображения заявок</button>
				</section>
{% comment %}
				<main>
					<div class="tip">table:hover => show a little icon to run js script (copy inner text to make dispatcer note</div>
					<div class="description">
						Запрос на модернизацию ОИК-11 в рамках взаимодействия с SIM ЗРП.
					</div>
				</main>
{% endcomment %}
			</div>
		</div>
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="{% static 'zvk/js/classie.js' %}"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				menuRight = document.getElementById( 'cbp-spmenu-s2' ),
				showLeft = document.getElementById( 'showLeft' ),
				showRight = document.getElementById( 'showRight' ),
				useRSP = document.getElementById( 'open' ),
				showRSP = document.getElementById( 'rsp_big' ),
				hideRSP = document.getElementById( 'rsp_small' ),
				body = document.getElementsByTagName('body'),
				body = document.body;

			showLeft.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeft' );
			};
			showRight.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( menuRight, 'cbp-spmenu-open' );
				classie.toggle( body, 'upd' );
				disableOther( 'showRight' );
			};

			useRSP.onclick = function(){
				classie.toggle( menuLeft, 'cbp-spmenu-vertical-left-opened' ),
				classie.toggle( showRSP, 'shown'),
				classie.toggle( hideRSP, 'hided')
			};

			function disableOther( button ) {
				if( button !== 'showLeft' ) {
					classie.toggle( showLeft, 'disabled' );
				}
				if( button !== 'showRight' ) {
					classie.toggle( showRight, 'disabled' );
				}
			}
		</script>
	</body>
</html>
