{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'scraping/css/style.css' %}">
{% endblock %}

{% block backgroundvideo %}
    <div class="backgroundvideo">
        <div class="container-fluid bg-light text-center p-5 bg-opacity-50 text-white rounded">
            <h4 class="text-end fw-lighter">{{ date }}</h4>
            <h1 class="mb-4">{{ name }},</h1>
<!--            <h1 class="mb-5">проверьте личный кабинет в <a>РСП</a></h1>-->
            <h4 class="text-start plm-3">— вам нужно подписать интруктаж в <a class="link-light">РСП</a></h4>
            <h4 class="text-start plm-3">— вам нужно ознакомиться с распоряжениями в <a class="link-light">РСП</a></h4>
            <h4 class="text-start plm-3">— у вас в <a class="link-light">еЖ-3</a> есть визы, которые нужно просмотреть</h4>
        </div>
        <video src="{% static 'scraping/video/video.mp4' %}" muted loop autoplay></video>
    </div>
{% endblock %}