{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/title_page.css' %}">
    <script src="{% static 'js/panzoom.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            {% include 'includes/header.html' %}
        </header>
        <main>
            {% block main_content %}
                {% include 'includes/navigation.html' %}
                {% include 'includes/svg_content.html' %}
                {% include 'includes/scheme_buttons.html' %}
            {% endblock main_content %}
        </main>
    </div>

    {% block js_scripts %}
        <script src="{% static 'js/panzoom_control.js' %}"></script>
        <script src="{% static 'js/context_datetime.js' %}"></script>
    {% endblock js_scripts %}
</body>
</html>