{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>САРА{% if title %} - {{ title }} {% endif %}</title>
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooltip_styles.css' %}">
    {% block local_css %}
    {% endblock local_css %}
    <script src="{% static 'js/panzoom.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            {% block header %}
            {% endblock header %}
        </header>
        <main>
            {% block main_content %}
            {% endblock main_content %}
        </main>
    </div>
    {% block js_scripts %}
    {% endblock js_scripts %}
</body>
</html>