{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="frame">
            <div class="header">
                <h3>Выбор режима работы</h3>
            </div>
            <div class="buttons">
                <a href="{% url 'cara:main_page' %}">Расчет аврийных процессов СМЗУ</a>
                <a href="{% url 'cara:mode_page' %}">Выбор из списка и схемы</a>
                <a href="{% url 'cara:ui_page' %}">Аврийный процесс ветви с УРОВ</a>
            </div>
        </div>
    </div>
</body>
</html>