{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="wrapper">
        <header>
            {% include 'includes/header.html' %}
        </header>
        <main>
            <nav>
                <div class="date_time_select_block">
                    {% include 'includes/datetime_select.html' %}
                </div>
                <div class="buttons_block">
                    <button class="styled secondary" type="button">Задать потребление ЭС</button>
                    <button class="styled primary" type="button">Перейти к выбору АП</button>
                </div>
            </nav>
            <div id="svg_content">
                <div id="scheme">
                    {{ svg_data|safe }}
                </div>
            </div>
        </main>
    </div>
    <div id="info" style="display: none;">
        <span id="close-info" style="cursor: pointer; font-weight: bold;">&times;</span>
        <p id="datetime-msg"></p>
    </div>

    <script src="{% static 'js/panzoom.js' %}"></script>
    <script src="{% static 'js/context_datetime.js' %}"></script>
    <script src="{% static 'js/svg_interaction.js' %}"></script>
</body>
</html>